@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Pretendard, system-ui, -apple-system, Segoe UI, Roboto,
    "Noto Sans KR", sans-serif;
}
